* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
div {
    text-align: center;
}
div h2 {
    letter-spacing: 3px;
    text-transform: uppercase;
}
div hr {
    margin: 14px 0;

}
div input[type=number] {
    margin: 8px;
    padding: 8px;
    width: 100%;
    font-size: 16px;
}
div input[type=text] {
    margin: 8px;
    padding: 8px;
    width: 100%;
    font-size: 22px;
    border: 0px;
    text-align: center;
    font-weight: bold;
}

#result {
    margin: 8px;
    padding: 8px;
    width: 100%;
    font-size: 22px;
    border: 0px;
    text-align: center;
    font-weight: bold;
    white-space: normal;
    overflow-wrap: break-word;
    height: auto;
} 

div button {
    margin: 0 4px;
    padding: 6px 0;
    width: 100px;
    border: 1px solid #999;
    background-color: #f7f7f7;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
div button:hover {
    background-color: #ccc;
}
div button:focus {
    outline: 2px solid;
}